<?xml version="1.0" encoding="UTF-8"?>
<configuration>
       <system.webServer>
              <security>
                     <ipSecurity allowUnlisted="false" denyAction="NotFound">
                            <add allowed="true" ipAddress="52.234.169.113" />
                     </ipSecurity>
              </security>
       </system.webServer>
</configuration>